# Loading Log Dataset (Part 1)

## Step 1 Grouping Log Dataset by User Id

The output in this step should be a dataset that contains the count of any action, including buy, cart, and click, for each user.

In [2]:
import pandas as pd

In [3]:
# filter: female clothing only
df = pd.read_csv('clothes.csv')
item = list(set(df.item_id))

In [22]:
# read by chunk of 1000000
columns=['item_id', 'user_id', 'action', 'vtime']
chunksize = 10000000
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_parta.txt', header=None, sep='\x01', 
            names=columns, chunksize=chunksize)

In [23]:
# group by 
df1 = []
for i, chunk in enumerate(reader):
    df1.append(chunk[chunk.item_id.isin(item)].groupby(['user_id']).count()[['item_id']])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [24]:
# store the output of each chunk in a list
%store df1

Stored 'df1' (list)

In [26]:
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_partb.txt', header=None, sep='\x01',
                     names=columns, chunksize=chunksize)

In [27]:
df2 = []
for i, chunk in enumerate(reader):
    df2.append(chunk[chunk.item_id.isin(item)].groupby(['user_id']).count()[['item_id']])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [28]:
%store df2

Stored 'df2' (list)

In [30]:
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_partc.txt', header=None, sep='\x01',
                     names=columns, chunksize=chunksize)

In [31]:
df3 = []
for i, chunk in enumerate(reader):
    df3.append(chunk[chunk.item_id.isin(item)].groupby(['user_id']).count()[['item_id']])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

In [32]:
%store df3

Stored 'df3' (list)

## Step 3 Selecting Target Buyers only from the Dataset

In [34]:
# load target buyers from step 2
%store -r user

In [39]:
df10 = []

In [40]:
columns=['item_id', 'user_id', 'action', 'vtime']
chunksize = 10000000
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_parta.txt', header=None, sep='\x01', 
            names=columns, chunksize=chunksize)

In [41]:
# for each chunk, consider target buyers only
for i, chunk in enumerate(reader):
    df10.append(chunk[chunk.user_id.isin(user)])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [51]:
%store df10

Stored 'df10' (list)

In [43]:
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_partb.txt', header=None, sep='\x01',
                     names=columns, chunksize=chunksize)

In [44]:
for i, chunk in enumerate(reader):
    df10.append(chunk[chunk.user_id.isin(user)])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [49]:
reader = pd.read_csv('tianchi_2014002_rec_tmall_log_partc.txt', header=None, sep='\x01',
                     names=columns, chunksize=chunksize)

In [50]:
for i, chunk in enumerate(reader):
    df10.append(chunk[chunk.user_id.isin(user)])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

In [49]:
df.to_csv(r'/Users/liuyifan/Desktop/ECO481/product_log.csv', index=False)